@font-face
{
    font-family: whitney-med;
    src: url(/static/fonts/Whitney-Medium.otf);
}

@font-face
{
    font-family: whitney-light;
    src: url(/static/fonts/Whitney-Light.otf);
}

* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

#header {
    height: 120px;
    position: fixed;
    top: 0px;
    width: 100%;
}

#content {
    margin-top: 150px;
}

#navbar {
	width: 100%;
    background: #760031;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

#navbar a {
    color: #ffffff;
}

#navbar ul {
	float: right;
	margin-right: 30%;
	font-size: 14pt;
}

#navbar ul li{
	display: inline-block;
	margin-right: 50px;
    font-family: Whitney-Light, sans-serif;
}

#title {
    color: #333333;
    font-family: Whitney-Light, sans-serif;
    margin-top: 20px;
    font-size: 16pt;
}

.footer {
	text-align: center;
    width: 100%;
    background-color: #760031;
    position: fixed;
    bottom: 20px;
    padding: 10px;
    color: #e6e6e6;
    font-family: Whitney-Light, sans-serif;

}

.ng-cloak {
	opacity: 0;
}