@font-face
{
    font-family: whitney-med;
    src: url(/static/fonts/Whitney-Medium.otf);
}

@font-face
{
    font-family: whitney-light;
    src: url(/static/fonts/Whitney-Light.otf);
}

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

a {
    text-decoration: none;
}

body {
    overflow-y: hidden;
}
/*
.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}*/

#header {
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 500;
}

#header img {
    height: 80px;
    margin: 0;
}

#content {
    top: 130px;
    height:68%;
    position: absolute;
    width: 100%;
}

#navbar {
	width: 100%;
    background-color: #760031;
    border: 0px;
    min-height: 0px;
    border-radius: 0px;
    z-index: 50;
    margin-bottom: 0px;
}

#navbar a {
    color: #ffffff;
    font-size: 14pt;
    font-family: Whitney-Light, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: normal;
}

.navbar-brand {
    height: auto !important;
    display: none;
}

.navbar-collapse {
    border: 0px !important;
}

#header h1 {
    color: #333333;
    font-family: Whitney-Light, sans-serif;
    margin-top: 20px;
    font-size: 16pt;
    display: none;
}

#footer {
	text-align: left;
    width: 100%;
    background-color: #760031;
    position: fixed ;

    bottom: 1%;
    font-family: Whitney-Light, sans-serif;
    border: 0px;
    min-height: 0px;
    border-radius: 0px;
    z-index: 50;
}

#footer a {
    padding-top: 10px;
    padding-bottom: 8px;
    font-family: Whitney-Light, sans-serif;
    font-size: 14pt;
    color: #fff;
}

.white, .white a {
  color: #fff !important;
  background-color: #fff !important;
}

li.active a {
    color: #333333 !important;
}

.ng-cloak {
	opacity: 0;
}