@media only screen and (max-device-width: 480px) {
    body {
    }

    #header {
        height: 50px;
        z-index: 100;
    }

    #header img {
        display: none;
    }

    #title {
        display: none;
    }

    .navbar-brand {
        display: inherit !important;
        padding-top: 15px !important;
        font-size: 20pt !important;
    }

    #content {
        margin-top: 0px;
        top: 50px;
        height: 86%;
    }

    .card {
        /*height: 90px;*/
        padding: 5px;
        position: relative;
    }

    .row {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 25%;
    }

    #row1 {
        top: 5%;
    }

    #row2 {
        top: 32.5%;
    }

    #row3 {
        top: 60%;
    }

    .card .inner_card {
        height: 100%;
    }

    .card img {
        height: 100%;
    }

    #footer {
        margin: 0;
        bottom: 0px !important;
        position: fixed;
    }

    /*active button fix*/
    .mobileHoverFix:hover,
    .mobileHoverFix.hover {
        background-color: transparent !important;
    }

    .about-card {
        width: 90%;
        padding: 20px;
        overflow: hidden;
        min-height: 600px;
        margin-top: 0px;
    }

    .text_content {
        width: 100%;
        padding: 20px;
        min-height: none;
        float: none;
    }

    #single.container {
        padding-left: 0px;
    }
    
    #single img {
        float: left;
        width: 100% !important;
        max-width: none;
        max-height: none;
    }

    .carousel {
        margin-bottom: 20px;
    }

    #img_no_children {
        width: 100%;
        height: auto;
    }

    #img_no_children .single_image_caption {
        text-align: center;
        padding-left: 10px;
        font-size: 10pt;
    }

    .related {
        padding: 20px;
        clear: none;
        height: auto;
        margin-bottom: 50px;
    }

    .related img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .single_audio {
        width: 100%;
    }

    audio {
        margin-top: 50px;
    }

    .single_audio .text_content {
        margin-top: 50px;
    }

    .single_text {
        width: 100%;
        height: auto;
        min-height: 0px;
    }

    .single_text .text_content {
        min-height: 0px;
    }

}