.browse_container {
	width: 70%;
	margin: 0 auto;
}

.card {
	width: 300px;
	border: 1px solid #cccccc;
	padding: 20px;
	font-family: Helvetica, sans-serif;
}

.card img {
	width: 100%;
}

.playlist_box img {
	width: 100px;
	display: inline;
}