{% extends "flaxman/base.html" %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/browse.css' %}">
{% endblock css %}

{% block content %}
<div class="browse_container">
	{% for mediaObject in media %}
	<div class="card">
		<div class="name"><a href={% url 'media_browser.views.single' id=mediaObject.id %}>{{mediaObject.title}}</a></div>

		{% if mediaObject.type == 'IM' %}
		<img class='media_image' src="{{MEDIA_URL}}{{mediaObject.image}}" alt="">
		{% endif %}

		{% if mediaObject.type == 'AU' %}
		<audio src="audio.ogg" controls>
			<p>Your browser does not support the audio element </p>
		</audio>
		{% endif %}



		{% if mediaObject.type == 'VI' %}

		<div class="overlay">
			{% if mediaObject.video_source == 'YT' %}
			<img class="video_thumbnail" src="http://i3.ytimg.com/vi/{{mediaObject.video_id}}/0.jpg" alt="">
			{% endif %}

			{% if mediaObject.video_source == 'VI' %}
			<img src="video_thumbnail" src="http://i3.ytimg.com/vi/{{media.video_id}}/0.jpg" alt="">
			{% endif %}

			{% endif %}
		</div>



		<div class="author">{{mediaObject.author}}</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}
