<div id='row{$ $index + 1 $}' ng-style='width()' class='row' >
    <div class='card' ng-repeat="card in media[$index]" ng-switch  on='card.fields.type'>
        <div ng-switch-when='VI' class="video_card"  >
            <div class='title'>{$ card.fields.title $}</div>
            <div class='description'>{$ card.fields.description $}</div>
        </div>
        <div ng-switch-when='AU' class="audio_card">
            <div class='title'>{$ card.fields.title $}</div>
            <div class='description'>{$ card.fields.description $}</div>
        </div>
        <div ng-switch-when='IM' class="image_card">
            <a href='/#/media/image/{$ card.pk $}'><img src="/upload/{$ card.fields.image $}" alt=""></a>
        </div >
    </div>
</div>