<div id="media_browser" ng-controller='BrowseController as browse'>
    <div ng-repeat='row in media' id='row{$ $index + 1 $}' class='row'>
        <div class='card' ng-repeat="card in media[$index]" ng-switch  on='card.fields.type'>
            <div ng-switch-when='TX' class="text_card inner_card" ng-class='testForThumbnail(card)' >
                <a href='/#/media/text/{$ card.pk $}'><img ng-if='card.fields.thumbnail' ng-src="{$ '/upload/' + card.fields.thumbnail $}" alt=""><p class='text_summary' ng-if='!card.fields.thumbnail'>{$card.fields.summary$}</p></a>
            </div>
            <div ng-switch-when='IM' class="inner_card"  >
                <a href='/#/media/image/{$ card.pk $}'><img ng-src="{$ '/upload/' + card.fields.thumbnail $}" alt=""></a>
            </div>
            <div ng-switch-when='VI' class="inner_card"  >
                <a href='/#/media/video/{$ card.pk $}'><img ng-src="{$ '/upload/' + card.fields.thumbnail $}" alt=""></a>
            </div>
            <div ng-switch-when='AU' class="inner_card"  >
                <a href='/#/media/audio/{$ card.pk $}'><img ng-src="{$ '/upload/' + card.fields.thumbnail $}" alt=""></a>
            </div>
        </div>
    </div>
</div>