<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        The Flaxman Exchange2
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/mobile.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/jquery/mousewheel/3.0.6/jquery.mousewheel.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-sanitize.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>

</head>
<body ng-app='Flaxman' class='ng-cloak'>
  <div id="header" ng-controller='HeaderController'>
    <div id="title" class='container' >
        <img src="/static/header.png" alt="">
        <h1>The Flaxman Exchange</h1>
    </div>
    <div id='navbar' class='navbar navbar-default'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
              <span class="icon-bar white"></span>
              <span class="icon-bar white"></span>
              <span class="icon-bar white"></span>
          </button>
          <a class="navbar-brand" href="#">The Flaxman Gallery</a>
      </div>

      <div class='navbar-collapse collapse ' id='navbar-elements'>
        <div class='container'> 
            <ul class='nav navbar-nav navbar-right'>
             <li ng-class="{ active: isActive('/#/explore') }"><a href='/#/explore'>Explore</a></li>
             <li ng-class="{ active: isActive('/#/visit') }"><a href='/#/visit'>Visit</a></li>
             <li  ng-repeat='playlist in headerPlaylists' ng-class="{ active: isActive('/#/playlist/' + playlist.pk ) }">
                 <a href="/#/playlist/{$ playlist.pk $}"/>{$ playlist.fields.name $}</a>
             </li>
         </ul>
     </div>
 </div>
</div>
</div>

<div id="content">
  <div id="background"></div>
  <div ng-view></div>
</div>


<div id='footer' class='navbar navbar-default'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-elements">
          <span class="icon-bar white"></span>
          <span class="icon-bar white"></span>
          <span class="icon-bar white"></span>
      </button>
  </div>

  <div class='navbar-collapse collapse' ng-controller='FooterController' id='footer-elements'>
    <div class='container'>
        <ul class='nav navbar-nav navbar-left' >
         <li class='ng-cloak' ng-class="{ active: isActive('/#/about/art-museum') }">
            <a href='/#/about/art-museum'>{$ artMuseum.fields.title $}</a>
        </li>
        <li class='ng-cloak' ng-class="{ active: isActive('/#/about/special-collections') }">
            <a href='/#/about/special-collections'>{$ specialCollections.fields.title $}</a>
        </li>
        <li class='ng-cloak' ng-class="{ active: isActive('/#/about/partners') }">
            <a href='/#/about/partners'>{$ partners[0].fields.title $}</a>
        </li>
        <li class='ng-cloak' ng-class="{ active: isActive('/#/about/contact') }">
            <a href='/#/about/contact'>{$ contact.fields.title $}</a>
        </li>

    </ul>
</div>
</div>
</div>
<script src='/static/js/app.js'></script>
<script src='/static/js/factories.js'></script>
<script src='/static/js/ui-bootstrap.js'></script>

<script src='/static/js/browse.js'></script>
</body>
</html> 
