{% extends "flaxman/base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile.css' %}">
{% endblock css %}


{% block content %}

<div id="background"></div>

<div id="media_browser" ng-controller='BrowseController as browse'>
    
    <div ng-repeat='row in media' ng-include='"{% static "partials/row.html" %}"'>
    </div>

</div>

<div ng-view>
</div>

{% endblock content %}

{% block footer_scripts %}
<script src='{% static "js/browse.js" %}'></script>
{% endblock footer_scripts %}